/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  /* Change favorite color */
  --hue-color: #2f2f2b;
  /* HSL color mode */
  --first-color: #2f2f2b;
  --first-color-second: #0094ea;
  --first-color-alt: #000;
  --first-color-lighter: #000;
  --title-color: #000;
  --text-color: #000;
  --text-color-light: #fff;
  --input-color: #bce3f9;
  --body-color: #3baef040;
  --container-color: #2f2f2b6b;
  /*========== Font and typography ==========*/
  --body-font: "Montserrat", sans-serif;
  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --big2-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.625rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== Margenes Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Font sizes for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}
/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section_title {
  font-size: var(--h1-font-size);
  margin-top: -2rem;
}

.section_subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section_title,
.section_subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*==================== BUTTONS ====================*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
}
.button:hover {
  background-color: var(--first-color-alt);
  transition: 0.3s;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}
.button--flex .button_icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: 0.3s;
}

/*==================== NAV ====================*/
.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* show menu */
}
.nav .nav_logo {
  color: var(--title-color);
  font-weight: var(--font-medium);
}
.nav .nav_logo:hover {
  color: var(--first-color-second);
  transition: 0.2s;
}
.nav .nav_toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
  font-size: 1.1rem;
  cursor: pointer;
}
.nav .nav_toggle:hover {
  color: var(--first-color-second);
  transition: 0.2s;
}
.nav .nav_list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.nav .nav_list .nav_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  font-weight: var(--font-medium);
}
.nav .nav_list .nav_link:hover {
  color: var(--first-color-second);
  transition: 0.2s;
}
.nav .nav_list .nav_link .nav_icon {
  font-size: 1.2rem;
}
.nav .nav_close {
  position: absolute;
  right: 1.4rem;
  top: 0.7rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--text-color-light);
}
.nav .nav_close:hover {
  color: var(--first-color-second);
  transition: 0.2s;
}
.nav .show-menu {
  top: 0;
}

/*==================== HOME ====================*/
.home_container {
  gap: 1rem;
}
.home_container .home_content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}
.home_container .home_content .home_social {
  display: grid;
  grid-template-columns: -webkit-max-content;
  grid-template-columns: max-content;
  row-gap: 1rem;
}
.home_container .home_content .home_social .home_social-icon {
  font-size: 1.25rem;
  color: var(--text-color);
}
.home_container .home_content .home_social .home_social-icon:hover {
  color: var(--first-color-second);
  transition: 0.3s;
}
.home_container .home_content .home_img {
  border-radius: 0.5rem;
  width: 170px;
}
.home_container .home_content .home_data {
  grid-column: 1/3;
}
.home_container .home_content .home_data .home_title {
  font-size: var(--big-font-size);
}
.home_container .home_content .home_data .home_subtitle {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}
.home_container .home_content .home_data .home_description {
  margin-bottom: var(--mb-2);
}

/*==================== BUTTONS ====================*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
}
.button:hover {
  background-color: var(--first-color-alt);
  transition: 0.3s;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}
.button--flex .button_icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: 0.3s;
}

/*==================== ABOUT ====================*/
.about .about_description {
  text-align: center;
  margin-bottom: var(--mb-2-5);
}
.about .about_info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2);
}
.about .about_info .about_info-title,
.about .about_info .about_info-name {
  display: block;
  text-align: center;
}
.about .about_info .about_info-title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}
.about .about_info .about_info-name {
  font-size: var(--smaller-font-size);
}
.about .about_buttons {
  display: flex;
  justify-content: center;
}

/*==================== SKILLS ====================*/
.skills_container {
  row-gap: 2rem;
  padding-top: 1rem;
}
.skills_container .skills_content {
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 1.25rem;
}
.skills_container .skills_content .skills_title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1.5rem;
}
.skills_container .skills_content .skills_box {
  display: flex;
  justify-content: center;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
  padding-bottom: 1rem;
}
.skills_container .skills_content .skills_box .skills_group {
  display: grid;
  align-content: flex-start;
  row-gap: 1rem;
}
.skills_container .skills_content .skills_box .skills_group .skills_data {
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.skills_container .skills_content .skills_box .skills_group .skills_data .fa-check-circle {
  font-size: 1rem;
  color: var(--first-color);
  margin-top: 0.2rem;
}
.skills_container .skills_content .skills_box .skills_group .skills_data .skills_name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  line-height: 1px;
}
.skills_container .skills_content .skills_box .skills_group .skills_data .skill_level {
  font-size: var(--small-font-size);
}

/*==================== QUALIFICATION ====================*/
.qualification_container [data-content] {
  display: none;
}
.qualification_container .qualification_tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2);
}
.qualification_container .qualification_tabs .qualification_button {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
}
.qualification_container .qualification_tabs .qualification_button:hover {
  color: var(--first-color-second);
}
.qualification_container .qualification_tabs .qualification_button.qualification_active {
  color: var(--text-color);
}
.qualification_container .qualification_tabs .qualification_button .qualification_icon {
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}
.qualification_container .qualification_sections .qualification_content .qualification_data {
  display: grid;
  grid-template-columns: 1fr -webkit-max-content 1fr;
  grid-template-columns: 1fr max-content 1fr;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.qualification_container .qualification_sections .qualification_content .qualification_data .qualification_title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}
.qualification_container .qualification_sections .qualification_content .qualification_data .qualification_subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}
.qualification_container .qualification_sections .qualification_content .qualification_data .qualification_calendar {
  font-size: var(--smaller-font-size);
  color: var(--text-color);
}
.qualification_container .qualification_sections .qualification_content .qualification_data .qualification_rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color);
  border-radius: 50%;
}
.qualification_container .qualification_sections .qualification_content .qualification_data .qualification_line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--first-color);
  transform: translate(6px, -7px);
}
.qualification_container .qualification_sections .qualification_active[data-content] {
  display: block;
}

/*==================== PORTFOLIO ====================*/
.portfolio_container {
  overflow: initial;
}
.portfolio_container .portfolio_content {
  padding: 0 1.5rem;
}
.portfolio_container .portfolio_content .portfolio_img {
  width: 265px;
  border-radius: 1.5rem;
  justify-self: center;
}
.portfolio_container .portfolio_content .portfolio_data .portfolio_title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
  text-align: center;
}
.portfolio_container .portfolio_content .portfolio_data .portfolio_description {
  margin-bottom: var(--mb-0-75);
  text-align: center;
}
.portfolio_container .portfolio_content .portfolio_data .portfolio_button:hover .button-icon {
  transform: translateX(0.35rem);
}
.portfolio_container .swiper-button-next::after,
.portfolio_container .swiper-button-prev::after {
  display: none;
}
.portfolio_container .fa-angle-right {
  margin-left: 2rem;
}
.portfolio_container .swiper-portfolio-icon {
  font-size: 2rem;
  color: var(--first-color);
}

/*==================== CONTACT ME ====================*/
.contact_container {
  row-gap: 3rem;
  padding-bottom: 3rem;
}
.contact_container .contact_content .contact_title {
  text-align: center;
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
}
.contact_container .contact_content .contact_info {
  display: grid;
  gap: 1rem;
}
.contact_container .contact_content .contact_info .contact_card {
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: 0.75rem;
  text-align: center;
}
.contact_container .contact_content .contact_info .contact_card .contact_card-icon {
  font-size: 2rem;
  color: var(--title-color);
  margin-bottom: 0.25rem;
}
.contact_container .contact_content .contact_info .contact_card .contact_card-title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}
.contact_container .contact_content .contact_info .contact_card .contact_card-data {
  display: block;
  margin-bottom: 0.75rem;
  font-size: var(--small-font-size);
  color: var(--text-color);
}
.contact_container .contact_content .contact_info .contact_card .contact_button {
  color: var(--text-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
}
.contact_container .contact_content .contact_info .contact_card .contact_button:hover .contact_button-icon {
  transform: translateX(0.35rem);
}
.contact_container .contact_content .contact_info .contact_card .contact_button .contact_button-icon {
  font-size: 1rem;
  transition: 0.4s;
}
.contact_container .contact_content .contact_form .contact_form-div {
  position: relative;
  margin-bottom: 2rem;
  height: 4rem;
}
.contact_container .contact_content .contact_form .contact_form-div .contact_form-tag {
  position: absolute;
  top: -0.75rem;
  left: 1.25rem;
  font-size: var(--small-font-size);
  padding: 0.25rem;
  background-color: #cdeafb;
  z-index: 10;
}
.contact_container .contact_content .contact_form .contact_form-div .contact_form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--text-color-light);
  background: none;
  color: var(--text-color);
  outline: none;
  padding: 1.5rem;
  border-radius: 0.75rem;
  z-index: 1;
}
.contact_container .contact_content .contact_form .contact_form-area {
  height: 11rem;
}
.contact_container .contact_content .contact_form .contact_form-area textarea {
  resize: none;
}

/*==================== FOOTER ====================*/
.footer {
  background-color: var(--container-color);
}
.footer .footer_container {
  padding: 2rem 0 6rem;
}
.footer .footer_container .footer_title,
.footer .footer_container .footer_link {
  color: var(--text-color);
}
.footer .footer_container .footer_title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 2rem;
}
.footer .footer_container .footer_list {
  display: flex;
  justify-content: center;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  margin-bottom: 2rem;
}
.footer .footer_container .footer_social {
  display: flex;
  justify-content: center;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}
.footer .footer_container .footer_social .footer_social-link {
  background-color: var(--container-color);
  color: var(--text-color);
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  display: inline-flex;
}
.footer .footer_container .footer_social .footer_social-link:hover {
  background-color: var(--first-color-second);
  transition: 0.3s;
}
.footer .footer_container .footer_copy {
  display: block;
  margin-top: 4.5rem;
  color: var(--text-color);
  text-align: center;
  font-size: var(--smaller-font-size);
}

/*========== SCROLL UP ==========*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -5rem;
  background-color: var(--first-color);
  opacity: 0.8rem;
  padding: 0.3rem 0.4rem;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  /* show scroll */
}
.scrollup:hover {
  background-color: var(--first-color-lighter);
}
.scrollup .scrollup_icon {
  font-size: 1.5rem;
  color: var(--text-color-light);
}
.scrollup .show-scroll {
  bottom: 5rem;
}

/*==================== BRIEFCASES ====================*/
.briefcase-scss {
  background-color: rgb(205, 103, 153);
}

.briefcase-js {
  background-color: rgb(240, 190, 37);
}

.briefcase-container h2 {
  padding: 60px 0 30px;
  text-align: center;
}
.briefcase-container .briefcase-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, auto));
  gap: 30px;
  width: 80%;
  margin: 0 auto;
}
.briefcase-container .briefcase-grid img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.briefcase-container .briefcase-grid img:hover {
  transform: scale(1.1);
}
.briefcase-container .btn {
  text-align: center;
  padding: 10px;
}
.briefcase-container .btn .button {
  width: 20%;
  margin-top: 40px;
}

/*==================== MODALS ====================*/
.e-modal {
  display: none;
  position: fixed;
  padding-left: 20%;
  padding-top: 12%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.e-modal .eins-modal-content {
  max-width: 80%;
  border-radius: 10px;
  background-color: var(--input-color);
  /* The Close Button */
}
.e-modal .eins-modal-content .close {
  color: #aaaaaa;
  float: right;
  padding-right: 10px;
  font-size: 28px;
  font-weight: bold;
}
.e-modal .eins-modal-content .close:hover, .e-modal .eins-modal-content .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.e-modal .eins-modal-content .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  padding: 5%;
}
.e-modal .eins-modal-content .content .eins-modal-preview {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.e-modal .eins-modal-content .content .eins-modal-preview img {
  width: 100%;
  padding: 0 50px 20px 0;
}
.e-modal .eins-modal-content .content .eins-modal-text p {
  font-size: 1rem;
}
.e-modal .eins-modal-content .content .eins-modal-text .eins-modal-text-2 {
  padding: 20px 0 10px;
  font-size: 1rem;
}
.e-modal .eins-modal-content .content .eins-modal-text .eins-modal-text-2 a {
  font-size: 0.9rem;
  color: var(--first-color);
}
.e-modal .eins-modal-content .content .eins-modal-text .eins-modal-text-3 {
  font-size: 1rem;
}
.e-modal .eins-modal-content .content .eins-modal-text .eins-modal-text-3 .eins-modal-tec {
  margin-top: 10px;
  margin-left: 30px;
}
.e-modal .eins-modal-content .content .eins-modal-text .eins-modal-text-3 .eins-modal-tec img {
  width: 50px;
  height: 50px;
}

/*==================== MEDIA QUERIES ====================*/
/* Nav Menu */
@media screen and (max-width: 767px) {
  .nav_menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background-color: var(--first-color-lighter);
    padding: 4rem 1.5rem 2rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 0 0 1.5rem 1.5rem;
    transition: 0.4s;
  }
}
/* For small devices */
@media screen and (max-width: 350px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  /* Nav Menu */
  .nav_menu {
    padding: 2rem 0.25rem 4rem;
  }
  .navlist {
    -moz-column-gap: 0;
         column-gap: 0;
  }
  /* Home */
  .home_content {
    grid-template-columns: 0.25fr 3fr;
  }
  /* Skills */
  .skills_title {
    font-size: var(--normal-font-size);
  }
  .skills_box {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  /* Qualification */
  .qualification_data {
    gap: 0.5rem;
  }
  /* Modals */
  .eins-modal-preview {
    width: 175px;
  }
  .eins-modal-text p {
    font-size: 0.75rem;
  }
  .eins-modal-text-2 {
    padding: 20px 0 10px;
    font-size: 1rem;
  }
  .eins-modal-text-2 a {
    font-size: 0.9rem;
    color: var(--first-color);
  }
  .eins-modal-text-3 {
    font-size: 1rem;
  }
  .eins-modal-tec {
    margin-top: 10px;
    margin-left: 30px;
  }
  .eins-modal-tec img {
    width: 50px;
    height: 50px;
  }
}
/* For medium devices */
@media screen and (min-width: 568px) {
  /* Home */
  .home_content {
    grid-template-columns: -webkit-max-content 1fr 1fr;
    grid-template-columns: max-content 1fr 1fr;
  }
  .home_data {
    grid-column: initial;
  }
  .home_img {
    order: 1;
    margin-left: 1.5rem;
    justify-self: center;
  }
  /* Skills */
  .skills_container {
    justify-content: center;
  }
  .skills_content {
    padding: 2rem 4rem;
  }
  /* Qualification */
  .qualification_sections {
    display: grid;
    grid-template-columns: 0.5fr;
    justify-content: center;
  }
  /* Portfolio */
  .portfolio_container {
    grid-template-columns: repeat(2, 1fr);
  }
  /* Contact */
  .contact_container {
    grid-template-columns: 300px;
    justify-content: center;
  }
  .contact_form {
    width: 360px;
    margin-left: -2.5rem;
  }
  /* Footer */
  .footer_title {
    font-size: var(--big-font-size);
  }
}
@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  body {
    margin: 0;
  }
  .section {
    padding: 6rem 0 2rem;
  }
  .section_title {
    font-size: var(--big-font-size);
  }
  .section_subtitle {
    font-size: var(--h3-font-size);
    margin-bottom: 4rem;
  }
  .header {
    top: 0;
    bottom: initial;
  }
  .header,
.main,
.footer_container {
    padding: 0 2rem;
  }
  /* Nav */
  .nav {
    height: 4.5rem;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  .nav_logo,
.nav_icon,
.nav_close,
.nav_toggle {
    display: none;
  }
  .nav_list {
    display: flex;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
  .nav_menu {
    margin-left: auto;
    margin-right: auto;
  }
  /* Home */
  .home_img {
    width: 220px;
  }
  .home_container {
    row-gap: 5rem;
  }
  .home_content {
    padding-top: 5.5rem;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  /* About */
  .about_container {
    -moz-column-gap: 5rem;
         column-gap: 5rem;
  }
  .about_img {
    width: 220px;
  }
  .about_description {
    font-size: 1rem;
    padding: 0 var(--mb-1-5);
  }
  .about_info {
    justify-content: space-between;
  }
  .about_buttons {
    justify-content: initial;
  }
  /* Skills */
  .skills_container {
    grid-template-columns: repeat(2, 350px);
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
  /* Qualification */
  .qualification_tabs {
    justify-content: center;
  }
  .qualification_button {
    margin: 0 var(--mb-1);
  }
  .qualification_sections {
    grid-template-columns: 0.5fr;
  }
  /* Portfolio */
  .portfolio_content {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio_button {
    margin-left: 8rem;
  }
  /* Contact */
  .contact_container {
    grid-template-columns: repeat(2, -webkit-max-content);
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    -moz-column-gap: 8rem;
         column-gap: 8rem;
  }
  /* Footer */
  .footer_container {
    padding: 2rem 0;
  }
  .footer_social-link {
    font-size: 1.25rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
  }
}
/* For large devices */
@media screen and (min-width: 1024px) {
  .header,
.main {
    padding: 0;
  }
  .home_social {
    transform: translate(-6rem);
  }
}/*# sourceMappingURL=style.css.map */